.footer {
    padding: 70px 0;
    background-color: #1b1b1b;
}
.footer-social {
    padding: 1px 0;
    background-color: #1b1b1b;
}

.footer__header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 40px;
    text-align: center;
}
.footer__suptitle-img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.footer__suptitle-img:hover {
    transform: scale(105%);
    transition: 700ms;
}
.footer__suptitle {
    font-weight: 400;
    font-size: 38px;
    color: rgb(255, 255, 255);
}

.footer__title {
    margin: 0 103px;
    font-size: 16px;
    font-weight: 400;
    color: #6b6b6b;
    display: flex;
    justify-content: center;
}
.input {
    font-family: "Gothic A1", sans-serif;
    display: flex;
    justify-content: center;
}
.input-centre {
    width: 465px;
    height: 70px;
    margin: auto;
}
.input_footer {
    width: 311px;
    padding-left: 20px;
}
.button-footer {
    width: 154px;
    height: 70px;
    background: #fc0a7e;
    border: 0;
    transition: 400ms;
}
.button-footer:hover {
    transform: scale(105%);
    transition: 500ms;
}
.a-social-network {
    margin: 0 30px;
}
